spring:
  application:
    name: PRODUCT-SERVICE

  data:
    mongodb:
      uri: mongodb://localhost:27017
      authentication-database: admin
      database: admin
      host: localhost
      port: 27017

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8888/eureka/}
  instance:
    preferIpAddress: true

server:
  port: 8484
